.elementor-109 .elementor-element.elementor-element-1d6e2a5{margin-top:150px;margin-bottom:0px;}.elementor-109 .elementor-element.elementor-element-dd2ab0b > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-8571bba .aux-widget-inner{text-align:center;}.elementor-109 .elementor-element.elementor-element-8571bba .aux-modern-heading-primary{font-family:"Poppins", Sans-serif;font-size:38px;font-weight:500;line-height:57px;margin:0px 0px 10px 0px;}.elementor-109 .elementor-element.elementor-element-8571bba .aux-modern-heading-secondary{color:#BBB;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:500;line-height:27px;margin:0px 0px 50px 0px;}.elementor-109 .elementor-element.elementor-element-8571bba > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-8b9f86f .woocommerce-loop-product__title{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:500;line-height:30px;margin-bottom:5px;}/* Start custom CSS for aux_recent_product, class: .elementor-element-8b9f86f */.elementor-109 .elementor-element.elementor-element-8b9f86f .price {
    display: block;
    margin-bottom: 15px;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.6875em;
    font-family: "poppins";
}

.elementor-109 .elementor-element.elementor-element-8b9f86f .price del {
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.3125em;
    color: #AAA;
}

.elementor-109 .elementor-element.elementor-element-8b9f86f .aux-widget-recent-products .aux-recent-product-item {
    margin-bottom: 50px;
}/* End custom CSS */